<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="com.p360.userdesktop.Utilities.ExtentReport"></listener>
	</listeners>
  <test thread-count="5" name="P360 User Login">
	  
	  <parameter name="browser" value="chrome"></parameter>
	  <!-- for different browser use the mensioned key "chrome","firefox","edge" --> 
    
    <classes>
		
		<!--<class name="com.p360.userdesktop.TestCases.TC_Login"/> -->
		
	<!--		<class name="com.p360.userdesktop.TestCases.TC_SingUp"/>
    	 <class name="com.p360.userdesktop.TestCases.TC_Login"/> 
      <class name="com.p360.userdesktop.TestCases.TC_Logout"/>
     <class name="com.p360.userdesktop.TestCases.TC_ForgetPassword"/>
       <class name="com.p360.userdesktop.TestCases.TC_ForgetPassword"/>     --> 	
          
     <!--   <class name="com.p360.userdesktop.TestCases.TC_ChangeCardDetails"/> -->
          
         <!--    <class name="com.p360.userdesktop.TestCases.TC_ClassRegistration"/>    --> 
         
          <!--  To run this first provide email and password in this class "TC_=ForgetPassword"--> 
          
       <!-- <class name="com.p360.userdesktop.TestCases.TC_ClickActionOnDashBoardElement"/> -->
        
         <class name="com.p360.userdesktop.TestCases.TC_ManageMembership"/> 
          
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->


